{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

    <link rel = "stylesheet" href = "{% static 'css/pages.css' %}"></link>

{% endblock %}

{% block content %}


<section class="body">

    {% include 'sidebar.html' %}

    <section class="form-section">

        <form action="" method="post">

            {% csrf_token %}
            {{ form.media}}
            {{ form.as_p }}
            <button class="btn btn-info ml-" type="submit"> Update</button>

        </form>
    </section>

</section>

<script>

var generate_btn = document.querySelector(".generate-poll");
console.log(generate_btn);
var url = window.location.href + '/generate_report';
var url = url.replace("/update_polls" , "");
console.log(url);

generate_btn.addEventListener('click' , generateReport);

function generateReport() {
   
    // Storing response
    const response = fetch(url , {Method : 'GET'});
   
    // Storing data in form of JSON
    var data = response.json ;
    console.log(data);

}

</script>

{% endblock content %}